<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/new_home.css' %}">
    <title>Club Navigator Plus</title>
</head>
<body>
    {% include "navbar.html" %}
    {% if messages%}
    <ul class='messages'>
        {% for message in messages%}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% block content %}{% endblock content %}
   
 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/scrollmagic@2.0.7/scrollmagic/uncompressed/ScrollMagic.js"></script>
    <script src="https://unpkg.com/scrollmagic@2.0.7/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
    <script src="https://unpkg.com/scrollmagic@2.0.7/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"></script>
    <script src="https://unpkg.com/scrollmagic@2.0.8/scrollmagic/uncompressed/ScrollMagic.js"></script>
<script src="https://unpkg.com/scrollmagic@2.0.8/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    
    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'quiz_index.js' %}"></script>
    
</body>
</html>