body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    color: #fff;
}
#clubNavigator {
    font-size: 3em; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Add some space below the text */
    display: inline-block;
}

.typed-cursor {
    font-size: 3em;
    display: inline; /* Ensure cursor is displayed inline with the text */
    margin-left: 5px; /* Adjust the cursor's position to the right of the text */
}
header {
    background-color: #343a40;
}
.navbar{
    position: relative;
    z-index: 10;
}
.navbar-brand, .nav-link {
    color: #fff !important;
    transition: color 0.3s ease, border-bottom-color 0.3s ease; /* Add transition for the line effect */
    
}

.navbar-brand:hover, .nav-link:hover {
    color: #797d99 !important; /* Darker purple color */
    border-bottom: 2px solid #ffc107; /* Yellow line effect on hover */
}

.navbar-brand:hover::after,
.nav-link:hover::after {
    content: '';
      
    z-index: 10;
    width: 100%;
    height: 2px;
    background-color: #ffc107; /* Yellow line color */
    bottom: 0;
    left: 0;
    transform: scaleX(0); /* Initial state for the line to be hidden */
    transform-origin: bottom right;
    transition: transform 0.3s ease; /* Add transition for the line effect */
}

.navbar-brand:hover::after,
.nav-link:hover::after {
    transform-origin: bottom left;
}


.hero {
    position: relative;
    overflow: hidden;
}

.quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.quote h1 {
    font-size: 4em; /* Increased font size */
    margin-bottom: 10px;
}

.quote p {
    font-size: 1.8em; /* Increased font size */
    margin: 0;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.8; /* Adjust the opacity as needed */
}

.content-block {
    background-color: #2d203a; /* Darker purple color */
    color: #fff;
    padding: 50px 0;
    position: relative;
    z-index: 1;
}

.content-block img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.5s, box-shadow 0.5s; /* Add transitions for smooth effect */
}

.content-block p {
    font-size: 1.8em; /* Increased font size */
    position: relative;
    z-index: 2;
}

.content-block-left,
.content-block-right {
    position: relative;
    overflow: hidden;
}

.content-block img {
    transition: transform 0.5s, box-shadow 0.5s; /* Add transitions for smooth effect */
    transform: rotate(0);
    box-shadow: none;
}

.content-block-left img:hover {
    transform: rotateY(-10deg); /* Apply 3D rotation on hover */
    box-shadow: 20px 0 40px rgba(0, 0, 0, 0.8); /* Add more shadow to the right on hover */
}

.content-block-right img:hover {
    transform: rotateY(10deg); /* Apply 3D rotation on hover */
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.8); /* Add more shadow to the left on hover */
}

.stats {
    background-color: #fff;
    color: #2a2a2a; /* Black color */
    padding: 50px 0;
}

.stat-box {
    text-align: center;
}

.footer {
    color: #fff;
    background-color: #2a2a2a;
    text-align: center;
    padding: 10px 0;
}
#textToCenter {
    position: relative;
    left: 100%;
    opacity: 0;
    transition: left 0.8s ease, opacity 0.8s ease; /* Adjust the transition duration and easing as needed */
}
#textToCenter2 {
    position: relative;
    right: 100%;
    opacity: 0;
    transition: right 0.8s ease, opacity 0.8s ease; /* Adjust the transition duration and easing as needed */
}




.item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  
    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }
  
    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 220px); }
    &:nth-child(5) { left: calc(50% + 440px); }
    &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
    &:nth-child(7) { left: calc(50% + 880px); opacity: 0;}
    &:nth-child(8) { left: calc(50% + 1100px);opacity: 0; }
    &:nth-child(9) { left: calc(50% + 1320px); opacity: 0; }
    &:nth-child(10) { left: calc(50% + 1540px); opacity: 0; }
  }
  
  .content {
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
  
    & .title {
      font-family: 'arial-black';
      text-transform: uppercase;
    }
  
    & .description {
      line-height: 1.7;
      margin: 1rem 0 1.5rem;
      font-size: 0.8rem;
    }
  
    & button {
      width: fit-content;
      background-color: rgba(0,0,0,0.1);
      color: white;
      border: 2px solid white;
      border-radius: 0.25rem;
      padding: 0.75rem;
      cursor: pointer;
    }
  }
  
  .item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }
  
  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
  .nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
  
    & .btn {
      background-color: rgba(255,255,255,0.5);
      color: rgba(0,0,0,0.7);
      border: 2px solid rgba(0,0,0,0.6);
      margin: 0 0.25rem;
      padding: 0.75rem;
      border-radius: 50%;
      cursor: pointer;
  
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
  
  @media (min-width: 651px) and (max-width: 900px) {
  
    .content {
      & .title        { font-size: 1rem; }
      & .description  { font-size: 0.7rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 160px;
      height: 270px;
  
      &:nth-child(3) { left: 50%;opacity: 0; }
      &:nth-child(4) { left: calc(50% + 170px); opacity: 0;}
      &:nth-child(5) { left: calc(50% + 340px); opacity: 0;}
      &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
      &:nth-child(7) { left: calc(50% + 680px); opacity: 0;}
      &:nth-child(8) { left: calc(50% + 850px);opacity: 0; }
      &:nth-child(9) { left: calc(50% + 1020px); opacity: 0; }
      &:nth-child(10) { left: calc(50% + 1190px); opacity: 0; }
    }
  }
  
  @media (max-width: 650px) {
    .content {
      & .title        { font-size: 0.9rem; }
      & .description  { font-size: 0.65rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 130px;
      height: 220px;
  
      &:nth-child(3) { left: 50%;opacity: 0; }
      &:nth-child(4) { left: calc(50% + 140px);opacity: 0; }
      &:nth-child(5) { left: calc(50% + 280px);opacity: 0; }
      &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
      &:nth-child(7) { left: calc(50% + 560px); opacity: 0; }
      &:nth-child(8) { left: calc(50% + 700px); opacity: 0; }
      &:nth-child(9) { left: calc(50% + 840px); opacity: 0; }
      &:nth-child(10) { left: calc(50% + 980px); opacity: 0; }
    }
  }

/* for login page */
/* Add your new CSS rules here */

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container form {
  text-align: center;
}

.login-container label {
  display: block;
  margin-bottom: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
  background-color: #0056b3;
}

.login-container p a {
  color: #007bff;
}

.login-container p a:hover {
  text-decoration: underline;
}
/* 
body.login-page:hover {
  transform: scale(1.05); 
} */
/* CSS */
body.login-page {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../images/laptop.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease; /* Add transition for smooth movement */
}

  .login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #111e35e6; /* Adjust opacity here */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Add transition for smooth effect */
    margin-top: 70px;
  }
  
  .login-container:hover {
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2); /* Change shadow color and move left and up on hover */
    background-color: rgba(39, 68, 92, 0.95); /* Change background color on hover */
  }

  /* CSS */
.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.clubs-section {
  margin-bottom: 40px;
}
@keyframes fallIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.club-container {

  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  opacity: 0; /* Initially hide the club containers */
  transform: translateY(-100%);
  animation: fallIn 1s ease forwards; /* Use a common duration for all */
  background-color: rgba(255, 255, 255, 0.7); /* Adjust alpha value for transparency */
}

.club-container:nth-child(1) {
  animation-delay: 0.3s; /* Delay the first container */
}

.club-container:nth-child(2) {
  animation-delay: 0.6s; /* Delay the second container */
}

.club-container:nth-child(3) {
  animation-delay: 0.9s; /* Delay the third container */
}

.club-container h3 {
  color: #007bff;
  margin-bottom: 10px;
}

.club-container p:last-child {
  margin-bottom: 0;
}

.club-container h3 {
  color: #007bff;
  margin-bottom: 10px;
}

.club-container p:last-child {
  margin-bottom: 0;
}

.satisfaction-section {
  border-top: 2px solid #007bff;
  padding-top: 20px;
}

.satisfaction-section h3 {
  margin-bottom: 10px;
}

.satisfaction-links a {
  display: inline-block;
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
}

.satisfaction-links a:hover {
  text-decoration: underline;
}
.satisfaction-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.satisfaction-links button {
  margin: 0 10px; /* Adjust this value as needed */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.satisfaction-links button:hover {
  background-color: #0056b3;
}


/* styling for the dashboard continued */
body.dashboard-bg {
  background-image: url('../images/pexels-aditya-singh-3103199.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  /* opacity: 0; */
  background-color: rgba(255, 255, 255, 0.5); /* Adjust alpha value for transparency */}

.content-wrapper {
  background-size: cover;
  background-position: center;
  padding: 20px;
}


/*.club-container {
  width: calc(33.33% - 20px);
  background-color: rgba(255, 255, 255, 0.5); 
  border: 2px solid #ccc; 
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  transform-origin: center;
}*/

.club-container:hover {
  opacity: 0;
  background-color: #29292b;
  border-color: #007bff; /* Border color on hover */
  transform: translateY(-5px) rotate(-1deg); /* Tilt effect on hover */
}
