{% extends 'main.html' %}

{% block content %}


<body class="dashboard-bg">
  <div class="content-wrapper">
    <h2 style="color: aqua;">{{ club_object.club }} Core Members</h2>
    
    <h3 style="color: aqua;">Categories:</h3>
    {% comment %} <!-- Display categories here -->
    <img src="{% url 'generate_qrcode' club_name=club_object.club %}" alt="Club QR Code">
    <a href="{% url 'attend_club' club_name=club_object.club %}">Attend Club</a> {% endcomment %}
    
    <h3 style="color: aqua;">Inducted Members:</h3>
    <ul>
      {% for member in inducted_members %}
      <li><span style="color: aqua;">{{ member.username }}</span></li>
      {% endfor %}
    </ul>

    <h3 style="color: aqua;">Applicants:</h3>
    <form id="transferForm" method="post" action="{% url 'transfer_applicants' club_name=club_object.club %}">
      {% csrf_token %}
      <ul>
        {% for applicant in club_object.applicants.all %}
        {% if applicant not in inducted_members %}
        <li>
          <input type="checkbox" name="selected_applicants" value="{{ applicant.id }}">
          <span style="color: aqua;">{{ applicant.username }}</span>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% if club_object.applicants.exists %}  <!-- Check if applicants exist -->
      <button id="transferButton" type="button" style="color: aqua;">Transfer Selected Applicants</button>
    {% endif %}
    </form>
  </div>
  <script>
    document.getElementById("transferButton").addEventListener("click", function() {
      // Get all checkboxes
      var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
      var selectedApplicants = [];
      
      // Loop through checkboxes and collect selected applicants
      checkboxes.forEach(function(checkbox) {
        selectedApplicants.push(checkbox.value);
      });
      
      // Set the value of a hidden input field with the selected applicants
      var hiddenInput = document.createElement('input');
      hiddenInput.type = 'hidden';
      hiddenInput.name = 'selected_applicants';
      hiddenInput.value = JSON.stringify(selectedApplicants);
      document.getElementById("transferForm").appendChild(hiddenInput);
      
      // Submit the form
      document.getElementById("transferForm").submit();
    });
  </script>
</body>
{% endblock %}
